* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

header {
    text-align: center;
    background-color: rgb(0, 0, 0);
}

body {
    background-color: rgb(26, 26, 26);
}

a {
    color: white;
    text-decoration: none;
}

header img {
    height: 100%;
}

.menuHeader {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 20px;
    width: 100px;
    background-color: black;
}

.solid {
    width: 100%;
    height: 5px;
    background-color: gray;

}



.gridSpace {
    position: relative;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;

}

/* desktop */
@media (min-width: 900px)
{
.containerBig {
    position: relative;
    text-align: center;
    color: white;
}

.containerBig img {
    width: 100%;
    height: auto;
}

.containerLeft {
    position: absolute;
    top: 0%;
    width: 40%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.658);
}

.containerLeft p {
    position: absolute;
    top: 50%;
}

.containerLeft img {
    height: 50px;
    width: auto;
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center;
}

.containerLeft h2 {
    text-align: center;
    height: 50px;
    position: relative;
    top: 30%;
}

.grid {
    margin-left: 20%;
    margin-right: 20%;
    width: 70%;
}

.square {
    width: 400px;
    height: 400px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.475);
    margin: 5px;
}

.square h2 {
    color: white;
    position: relative;
    top: 20%;
    font-size: 20px; 
}

.square p {
    color: white;
    position: relative;
    top: 60%;
    font-size: 14px;
}
}

/* mobile */
@media (max-width: 899px)
{
   .containerBig {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}

.containerBig img {
    width: auto;
    height: 700px;
}

.containerLeft {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.658);
}

.containerLeft p {
    position: absolute;
    top: 50%;
}

.containerLeft img {
    height: 50px;
    width: auto;
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center;
}

.containerLeft h2 {
    text-align: center;
    height: 50px;
    position: relative;
    top: 30%;
}

.grid {
    margin-left: 20%;
    margin-right: 20%;
    width: 70%;
}

.square {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.475);
    margin: 5px;
}

.square h2 {
    color: white;
    position: relative;
    top: 20%;
    font-size: 20px; 
}

.square p {
    color: white;
    position: relative;
    top: 60%;
    font-size: 14px;
}
}

.containerMiddle {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 100%;

}
 
.containerMiddle img {
    width: 100px;
    height: 100px;
    margin: 8%;
}

.containerSmall {
    width: 500px;
    position: absolute;
    top: 30%;
    left: 45%;   
    background-color: rgba(0, 0, 0, 0.603);
    padding: 1%;
}

.containerSmall h2 {
    margin-bottom: 5%;
}

.row {
    display: inline-block;
    
}



.logos img {
    width: 50px;
    height: 50px;
}

.about {
    color: white;
    font-size: 12px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.363);
}



footer {
    width: 100%;
    background-color: rgb(26, 26, 26);
}

footer a {
    color: rgb(202, 202, 202);
}

.column {
    width: 300px;
    display: inline-block;
}

.column img {
    position: relative;
    left: 100%;    
    width: 20px;
}


